body {
  background-image: url("https://img.freepik.com/free-photo/empty-clipboard-with-twig-leaves_23-2148236737.jpg?w=996&t=st=1675333168~exp=1675333768~hmac=034a58ceb6ad23574cd815d44a98e72febdcc9aac2f8e44d9e0e44c5b802770c");
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 80vh;
}
.container {
  display: flex;
 
  flex-direction: column;
  align-items: center;
}
.cross {
  text-decoration: line through 2px red;
  background-color: #f0f0f0;
}
